/* 
    author: wilson kinyua
    year: Jun 12 2021

*/

body {
    margin: 0;
    padding: 0;
}

.home {
    background-image: url('./img/bg/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family:serif;
    height: 600px;
}

.menu {
    text-align: center;
    padding-top: 50px;
}

.menu h2 {
    font-weight: 100;
    font-size: 40px;
    text-transform: capitalize;
}

.home span {
    font-weight: bold;
}

.service {
    display: flex;
    flex-direction: row;
    height: 170px; 
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 20px !important;
}
#happy_party {
    width: 31%;
}
#breakfast, #lunch, #dinner {
    width: 23%;
}

#breakfast, #lunch, #dinner {
    color: white;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
    padding: 66px;
    color: white;
    text-align: center;
    font-weight: 500;
}

#happy {
    background-color: lightgray;
    padding: 16px;
    text-align: center;
}

#party {
    background-color: red;
    color: white;
    padding: 16px;
    text-align: center;
}

#breakfast {
    background-image: url('./img/foodtop/breakfast.jpg');
}

#lunch {
    background-image: url('./img/foodtop/lunch.jpg');
    opacity: 0.5;
}

#dinner {
    background-image: url('./img/foodtop/dinner.jpg');
}